table {
  width: 1000px;
  height: 250px;
  border: 2px solid black;
  border-collapse: collapse;
}

th {
  color: white;
  background-color: salmon;
  height: 50px;
}

td {
  text-align: center;
  font-weight: bold;
}

.odd {
  background-color: #fad3b6;
}

.blue {
  color: blue;
}

.image {
  width: 30px;
  height: 30px;
}
